* {
  padding: 0;
  margin: 0;
}
#game {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
  overflow: hidden;
  background-color: black;
/*   background-image: url(sky3.jpeg); */
  
}

/* game is 4000 pixels wide */
#block {
  width: 50px;
  height: 500px;
/*   background-color: black; */
  background-image: url("https://i.gifer.com/Tv8P.gif");
  background-size: contain;
  position: relative;
  left: 400px;
  animation: block 3s infinite linear; 
}

@keyframes block{
  0%{left: 400px;}
  100%{left: -50px;}
}

#hole {
  width: 50px;
  height: 150px;
  background-color: black;
  position: relative;
  left: 400px;
  top: -500px;
  animation: block 3s infinite linear;
  
}

#character {
  width: 40px;
  height: 40px;
  background-image: url("https://www.animatedimages.org/data/media/196/animated-bat-image-0050.gif");
  position: absolute;
  top: 100px;
  border-radius: 50%;
  background-size: contain;
}
